.MainVisual {

    .itm01 {
        background: url(../images/mvisual-img01.jpg);
        height: 80vh;
    }

    .itm02 {
        background: url(../images/mvisual-img02.jpg);
        height: 80vh;
    }

    .itm03 {
        background: url(../images/mvisual-img03.jpg);
        height: 80vh;
    }

}