.quick_menu {
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 250px;
    width: 100px;
    border: 1px solid #dedede;
    border-radius: 58px;
    background: #f6f8fa;
    overflow: hidden;

    li {
        height: 105px;
        border-bottom: 1px solid #ddd;

        &:nth-child(1) a {
            background: url(../images/quick-ico01.jpg) no-repeat center 4px;
        }

        &:nth-child(2) a {
            background: url(../images/quick-ico02.jpg) no-repeat center 4px;
        }

        &:nth-child(3) a {
            background: url(../images/quick-ico03.jpg) no-repeat center 4px;
        }

        &:nth-child(4) a {
            background: url(../images/quick-ico04.jpg) no-repeat center 4px;
        }

        a {
            display: block;
            padding-top: 65px;
            text-align: center;
            font-size: 14px;
            line-height: 16px;

            &:hover span {
                color: $color-blue;
                font-weight: 500;
                border-bottom: 1px solid $color-blue;
            }
        }


    }
}

.Header {
    border-bottom: 1px solid #ddd;

    .top {
        background: $color-top01;

        ul {
            display: flex;
            font-size: 15px;
        }

        li {
            padding: 10px 0;
            width: 100px;
            background: $color-top02;
            color: rgba(255, 255, 255, 0.589);
            border: 1px solid rgba(255, 255, 255, 0.164);
            text-align: center;
        }

    }


    .header_wrap {
        display: flex;
        justify-content: space-between;


        h1 {
            margin: 20px 0 0 0;
        }

        .gnb {
            display: flex;
            gap: 30px;

            &>li {
                position: relative;
                padding: 30px 30px;
                font-size: 18px;
                font-weight: 500;
            }

            &>li:hover {
                color: $color-top02;
            }

            &::before {
                content: "";
                position: absolute;
                top: 12%;
                left: 0;
                width: 100%;
                background: #fff;
                border-top: 1px solid #ddd;
                z-index: 100;
                height: 0;
                opacity: 0;
                transition: 0.5s;

            }

            &:hover::before {
                opacity: 1;
                height: 250px;
            }


            &:hover .sub {
                opacity: 1;
                height: 250px;
                visibility: visible;
            }
        }

        .sub {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;
            z-index: 100;

            font-size: 15px;
            text-align: center;
            line-height: 40px;

            color: #5c5c5c;

            opacity: 0;
            transition: 0.5s;

            visibility: hidden;

            background: none;

            &:hover {
                background: #eff0f3;
            }

            & li:hover {
                color: $color-top02;
                font-weight: 600;
            }

        }
    }
}

.MainVisual {

    .MainSlide {

        .itm {
            height: 80vh;
        }

        .itm01 {
            background: url(../images/mvisual-img01.jpg)
        }

        .itm02 {
            background: url(../images/mvisual-img02.jpg);
        }

        .itm03 {
            background: url(../images/mvisual-img03.jpg);
        }
    }

    .swiper-pagination {
        transform: translate(0, -500%);
    }

    .swiper-pagination-bullet {
        width: 70px;
        height: 5px;
        text-align: center;
        font-size: 12px;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 1px;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }
}

.MainContent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30%;
    z-index: 5;

    padding: 50px 0;

    .content_wrap {
        display: flex;
        text-align: center;
        justify-content: space-between;

        .itm {
            position: relative;
            border: 1px solid #ddd;
            width: 370px;
            padding: 50px 0 60px 0;
            background: #fff;

            .txt {
                height: 100%;

                .btxt {
                    font-size: 28px;
                    font-weight: 500;
                    color: $color-blue;
                    margin: 15px 0 20px 0;
                }

                .stxt {
                    font-size: 16px;
                    font-weight: 300;
                    color: #686868;
                    margin: 0 75px;
                }

                .btns {
                    display: inline-block;
                    position: absolute;
                    bottom: 10%;
                    transform: translate(-50%, 0);
                    padding: 10px 20px;
                    color: #5c5c5c;
                    border: 1px solid #666;
                    border-radius: 5px;
                }

                .dtxt {
                    font-size: 20px;
                    margin: 15px 0 20px 0;
                }

                .ttxt {
                    font-size: 40px;
                    font-weight: 800;
                    color: $color-blue;
                    margin: 15px 0 20px 0;
                }

                .ctxt {
                    color: #5c5c5c;
                    font-weight: 300;
                }
            }
        }

        .itm01 {
            border-bottom: 10px solid $color-blue;
        }

        .itm02 {
            border-bottom: 10px solid $color-green;
        }

        .itm03 {
            border-bottom: 10px solid $color-yellow;
        }

    }
}

.MainMedical {
    margin-top: 380px;
    padding: 80px 0;

    .MediSlide {
        .itm {
            position: relative;
            height: 470px;

            .txt {
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                text-align: center;

                .btxt {
                    font-size: 48px;
                    font-weight: 500;
                    padding-top: 75px;
                }

                .stxt {
                    font-size: 18px;
                    margin: 15px 0;
                }
            }
        }

        .itm01 {
            .btxt {
                background: url(../images/center-icon01.png)no-repeat center top;
            }
        }

        .itm02 {
            .btxt {
                background: url(../images/center-icon02.png)no-repeat center top;
            }
        }

        .itm03 {
            .btxt {
                background: url(../images/center-icon03.png)no-repeat center top;
            }
        }
    }

    .swiper-pagination {
        margin-bottom: 60px;
    }

    .swiper-pagination-bullet {
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 34px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        opacity: 1;
        background: rgba(0, 0, 0, 0.0);
        border: 1px solid #fff;
        border-radius: 100%;

    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #115b95;
        border: none;
    }
}



.MainNotice {
    padding: 50px 0;

    .fl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        .title {
            display: flex;
            font-size: 20px;
            justify-content: space-between;
            padding: 0 15px 20px 15px;
        }

        .press {
            border: 1px solid #ddd;
            border-top: 5px solid $color-blue;
            padding: 50px 0;

            .title {
                color: $color-blue;
                font-weight: 600;
            }

            .press_wrap {
                display: flex;
                padding: 0 15px;
                gap: 10px;

                .txt {
                    color: #4f4f4f;
                    font-weight: 500;
                    letter-spacing: -0.03em;
                    line-height: 20px;
                    font-size: 15px;
                    margin: 0 0 0 30px;

                    .btxt {
                        margin: 20px 0 20px 0;
                    }

                    .stxt {
                        margin: 0 0 50px 0;
                    }

                    .ctxt {}
                }
            }
        }

        .society {
            border: 1px solid #ddd;
            border-top: 5px solid $color-green;
            padding: 50px 0;

            .title {
                color: $color-green;
                font-weight: 600;
            }

            .soc_wrap {
                padding: 0 20px;

                li {
                    padding: 25px 0;

                    strong {
                        font-size: 18px;
                        color: #383838;
                    }

                    span {
                        float: right;
                        color: #929292;
                    }
                }
            }
        }
    }

    .fr {
        display: flex;
        gap: 30px;

        &>* {
            flex: 1;
        }

        .box {
            margin: 50px 0;
            height: 300px;
            border: 1px solid #ddd;
        }

        .news {
            text-align: center;
            background: url(../images/news_bg_img_b.jpg) no-repeat center center;

            img {
                margin: 50px 0 0 0;
            }
        }

        .kakao {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            box-sizing: border-box;
            padding-top: 60px;
            text-align: center;
            background: url(../images/kakao-bg.jpg) no-repeat center top #fce006;

            .btxt {
                margin: 20px 0 30px 0;
                font-size: 18px;
                line-height: 22px;

                span {
                    display: block;
                    font-size: 23px;
                    font-weight: 500;
                }
            }

            .stxt {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;

                span {
                    background: #fff;
                    padding: 10px 15px;
                    border-radius: 10px;
                    margin: 0 0 0 10px;

                    i {
                        font-size: 18px;
                        color: #6b6b6b;
                        margin: 0 0 0 10px;
                    }
                }
            }
        }

        .counsel {
            background: url(../images/counsel_bg_img_b.jpg) no-repeat center center/cover;

            img {
                display: block;
                margin: 0 auto;
                padding-top: 80px;
            }
        }

        .locat {
            text-align: center;

            .btxt {
                font-weight: 500;
                letter-spacing: -0.035em;
                font-size: 18px;
                margin: 25px 0 15px 0;
            }

            .stxt {
                display: block;
                font-size: 15px;
                margin: 0 0 20px 0;
            }

            img {}
        }
    }
}


.MainTabs {}


.Footer {
    background: $color-ft01;

    .ft_top {
        background: $color-ft02;

        .ft {
            display: flex;
            gap: 30px;
            font-size: 15px;
            font-weight: 300;
            color: #fff;
            padding: 25px 0;
        }
    }

    .ft_bottom {
        display: flex;
        gap: 30px;
        padding: 30px 0;
        justify-content: space-between;

        .f_info {
            color: #858585;
            font-size: 15px;
            line-height: 30px;

            strong {
                display: block;
            }

            span {
                margin: 0 0 30px 0;
            }
        }

        .f_link {
            margin: 20px 0 0 0;

            ul {
                display: flex;
                gap: 10px;
            }
        }
    }
}

.mopen {
    display: none;
}




















@media (max-width:768px) {



    .quick_menu {
        display: flex;
        position: fixed;
        z-index: 999;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        border: 1px solid #dedede;
        border-radius: 58px;
        background: #f6f8fa;
        overflow: hidden;
        // b
        display: none;


        li {
            height: 105px;
            border-bottom: 1px solid #ddd;

            //b
            display: flex;

            &:nth-child(1) a {
                background: url(../images/quick-ico01.jpg) no-repeat center 4px;
            }

            &:nth-child(2) a {
                background: url(../images/quick-ico02.jpg) no-repeat center 4px;
            }

            &:nth-child(3) a {
                background: url(../images/quick-ico03.jpg) no-repeat center 4px;
            }

            &:nth-child(4) a {
                background: url(../images/quick-ico04.jpg) no-repeat center 4px;
            }

            a {
                display: block;
                padding-top: 65px;
                text-align: center;
                font-size: 14px;
                line-height: 16px;

                &:hover span {
                    color: $color-blue;
                    font-weight: 500;
                    border-bottom: 1px solid $color-blue;
                }
            }


        }
    }

    .Header {
        border-bottom: 1px solid #ddd;

        .top {
            background: $color-top01;

            ul {
                display: flex;
                font-size: 15px;
            }

            li {
                padding: 10px 0;
                width: 100px;
                background: $color-top02;
                color: rgba(255, 255, 255, 0.589);
                border: 1px solid rgba(255, 255, 255, 0.164);
                text-align: center;
            }

        }


        .header_wrap {
            display: flex;
            justify-content: space-between;


            h1 {
                margin: 20px 0 0 0;
            }

            .gnb {
                display: flex;
                gap: 30px;

                // b
                position: fixed;
                top: 0;
                right: 100%;
                z-index: 9999;

                background: #fff;
                height: 100vh;
                width: calc(100% - 90px);

                flex-direction: column;

                &.on {
                    // b
                    right: 0;
                }

                &>li {
                    position: relative;
                    padding: 30px 30px;
                    font-size: 18px;
                    font-weight: 500;

                    img {
                        // b
                        display: none;
                    }
                }

                &>li:hover {
                    color: $color-top02;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 12%;
                    left: 0;
                    width: 100%;
                    background: #fff;
                    border-top: 1px solid #ddd;
                    z-index: 100;
                    height: 0;
                    opacity: 0;
                    transition: 0.5s;

                }

                &:hover::before {
                    opacity: 1;
                    height: 250px;
                }


                &:hover .sub {
                    opacity: 1;
                    height: 250px;
                    visibility: visible;
                }
            }

            .sub {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 0;
                z-index: 100;

                font-size: 15px;
                text-align: center;
                line-height: 40px;

                color: #5c5c5c;

                opacity: 0;
                transition: 0.5s;

                visibility: hidden;

                background: none;

                &:hover {
                    background: #eff0f3;
                }

                & li:hover {
                    color: $color-top02;
                    font-weight: 600;
                }

            }
        }
    }

    .MainVisual {

        .MainSlide {

            .itm {
                height: 80vh;
            }

            .itm01 {
                background: url(../images/mvisual-img01.jpg)
            }

            .itm02 {
                background: url(../images/mvisual-img02.jpg);
            }

            .itm03 {
                background: url(../images/mvisual-img03.jpg);
            }
        }

        .swiper-pagination {
            transform: translate(0, -500%);
        }

        .swiper-pagination-bullet {
            width: 70px;
            height: 5px;
            text-align: center;
            font-size: 12px;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 1px;
        }

        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }

    .MainContent {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30%;
        z-index: 5;

        padding: 50px 0;

        // b
        position: relative;
        padding: 50px 0 0 0;

        .content_wrap {

            // b
            flex-direction: column;
            gap: 30px;

            .itm {
                // b
                width: 100%;


                img {
                    width: 20%;
                }

                .txt {
                    height: 100%;

                    .btxt {
                        // b
                        font-size: 20px;
                        margin: 15px 0 20px 0;
                    }

                    .stxt {
                        // b
                        font-size: 16px;
                        margin: 0;
                        padding: 0 0 30px 0;
                    }
                }
            }

            // b
            .itm01 {
                border-bottom: 5px solid $color-blue;
            }

            .itm02 {
                border-bottom: 5px solid $color-green;
            }

            .itm03 {
                border-bottom: 5px solid $color-yellow;
            }

        }
    }

    .MainMedical {
        margin-top: 380px;
        padding: 80px 0;
        // b
        margin-top: 0;
        padding: 50px 0;

        .MediSlide {
            .itm {
                // b
                height: 100%;

                // b
                img {
                    object-fit: cover;
                    height: 300px;
                }

                .txt {
                    // b
                    width: 100%;

                    .btxt {
                        font-size: 25px;
                        font-weight: 500;
                        padding-top: 75px;
                    }

                    .stxt {
                        // b
                        font-size: 15px;
                        margin: 15px 0;
                    }
                }
            }

        }

        .swiper-pagination {
            // b
            margin-bottom: 30px;
        }

        .swiper-pagination-bullet {
            // b
            width: 26px;
            height: 26px;
            line-height: 24px;

        }

    }



    .MainNotice {
        padding: 30px 0;

        .fl {
            // b
            display: flex;
            flex-direction: column;


            .press {
                .press_wrap {
                    // b
                    display: grid;

                    .txt {
                        // b
                        margin: 0;
                        font-weight: 300;

                        .btxt {
                            // b
                            margin: 15px 0;
                            font-weight: 500;
                        }

                        .stxt {
                            // b
                            margin: 0 0 10px 0;
                            color: #8b8b8b;
                        }

                        .ctxt {
                            // b
                            font-size: 13px;
                            color: #9c9c9c;
                        }
                    }
                }
            }

            .society {
                // b
                padding: 30px 0;

                li {
                    // b
                    padding: 15px 0;

                    span {
                        // b
                        float: none;
                        display: block;
                        margin: 10px 0 0 0;
                    }
                }
            }
        }


        .fr {
            display: flex;
            gap: 30px;
            // b
            flex-direction: column;
            padding: 30px 0;

            &>* {
                flex: 1;
            }

            .box {
                margin: 50px 0;
                height: 300px;
                border: 1px solid #ddd;
                // b
                margin: 0;
            }

            .news {
                text-align: center;
                background: url(../images/news_bg_img_b.jpg) no-repeat center center;

                img {
                    // b
                    margin: 50px 0;
                }
            }

            .kakao {
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                box-sizing: border-box;
                padding-top: 60px;
                text-align: center;
                background: url(../images/kakao-bg.jpg) no-repeat center top #fce006;

                .btxt {
                    margin: 20px 0 30px 0;
                    font-size: 18px;
                    line-height: 22px;
                    // b
                    font-size: 15px;

                    span {
                        display: block;
                        font-size: 23px;
                        font-weight: 500;
                        // b
                        font-size: 20px;
                    }
                }

                .stxt {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    // b
                    margin: 0 0 20px 0;
                    font-size: 16px;

                    span {
                        background: #fff;
                        padding: 10px 15px;
                        border-radius: 10px;
                        margin: 0 0 0 10px;

                        i {
                            font-size: 18px;
                            color: #6b6b6b;
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }
        }

        .counsel {
            background: url(../images/counsel_bg_img_b.jpg) no-repeat center center/cover;

            img {
                display: block;
                margin: 0 auto;
                padding-top: 80px;
                // b
                padding: 20px;
            }
        }

        .locat {
            text-align: center;

            .btxt {
                font-weight: 500;
                letter-spacing: -0.035em;
                font-size: 18px;
                margin: 25px 0 15px 0;
            }

            .stxt {
                display: block;
                font-size: 15px;
                margin: 0 0 20px 0;
            }

            img {}
        }
    }


    .Footer {
        background: $color-ft01;

        .ft_top {
            background: $color-ft02;

            .ft {
                display: flex;
                gap: 30px;
                font-size: 15px;
                font-weight: 300;
                color: #fff;
                padding: 25px 0;
                // b
                padding: 25px 5px;
                font-size: 14px;
            }
        }

        .ft_bottom {
            display: flex;
            gap: 30px;
            padding: 30px 0;
            justify-content: space-between;
            // b
            flex-direction: column;
            text-align: center;
            padding: 30px 5px;

            .f_info {
                color: #858585;
                font-size: 15px;
                line-height: 30px;
                // b
                font-size: 13px;

                strong {
                    display: block;
                }

                span {
                    margin: 0 0 30px 0;
                }
            }

            .f_link {
                margin: 20px 0 0 0;
                // b
                margin: 0 auto;
                padding-bottom: 50px;

                ul {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }

    .mopen {
        //    b
        display: block;
        position: fixed;
        top: 3px;
        right: 70px;
        z-index: 99999;
        font-size: 30px;
    }

}