$color-top01 : #373D90;
$color-top02 : #444BAB;

$color-blue : #115B95;
$color-green: #1DA592;
$color-yellow: #4AA947;

$color-ft01 : #3f3f3f;
$color-ft02 : #575757;


// 태블릿
$breakpoint-tablet: 720px;