@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  word-break: keep-all;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.Header {
  border-bottom: 1px solid #ddd;
}
.Header .top {
  background: #373D90;
}
.Header .top ul {
  display: flex;
  font-size: 15px;
}
.Header .top li {
  padding: 10px 0;
  width: 100px;
  background: #444BAB;
  color: rgba(255, 255, 255, 0.589);
  border: 1px solid rgba(255, 255, 255, 0.164);
  text-align: center;
}
.Header .header_wrap {
  display: flex;
  justify-content: space-between;
}
.Header .header_wrap h1 {
  margin: 20px 0 0 0;
}
.Header .header_wrap .gnb {
  display: flex;
  gap: 30px;
}
.Header .header_wrap .gnb > li {
  position: relative;
  padding: 30px 30px;
  font-size: 18px;
  font-weight: 500;
}
.Header .header_wrap .gnb > li:hover {
  color: #444BAB;
}
.Header .header_wrap .gnb::before {
  content: "";
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  z-index: 100;
  height: 0;
  opacity: 0;
  transition: 0.5s;
}
.Header .header_wrap .gnb:hover::before {
  opacity: 1;
  height: 250px;
}
.Header .header_wrap .gnb:hover .sub {
  opacity: 1;
  height: 250px;
  visibility: visible;
}
.Header .header_wrap .sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 100;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  color: #5c5c5c;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  background: none;
}
.Header .header_wrap .sub:hover {
  background: #eff0f3;
}
.Header .header_wrap .sub li:hover {
  color: #444BAB;
  font-weight: 600;
}

.MainVisual .MainSlide .itm {
  height: 80vh;
}
.MainVisual .MainSlide .itm01 {
  background: url(../images/mvisual-img01.jpg);
}
.MainVisual .MainSlide .itm02 {
  background: url(../images/mvisual-img02.jpg);
}
.MainVisual .MainSlide .itm03 {
  background: url(../images/mvisual-img03.jpg);
}
.MainVisual .swiper-pagination {
  transform: translate(0, -500%);
}
.MainVisual .swiper-pagination-bullet {
  width: 70px;
  height: 5px;
  text-align: center;
  font-size: 12px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
.MainVisual .swiper-pagination-bullet-active {
  background: #fff;
}

.MainContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30%;
  z-index: 5;
  padding: 50px 0;
}
.MainContent .content_wrap {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.MainContent .content_wrap .itm {
  position: relative;
  border: 1px solid #ddd;
  width: 370px;
  padding: 50px 0 60px 0;
  background: #fff;
}
.MainContent .content_wrap .itm .txt {
  height: 100%;
}
.MainContent .content_wrap .itm .txt .btxt {
  font-size: 28px;
  font-weight: 500;
  color: #115B95;
  margin: 15px 0 20px 0;
}
.MainContent .content_wrap .itm .txt .stxt {
  font-size: 16px;
  font-weight: 300;
  color: #686868;
  margin: 0 75px;
}
.MainContent .content_wrap .itm .txt .btns {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  color: #5c5c5c;
  border: 1px solid #666;
  border-radius: 5px;
}
.MainContent .content_wrap .itm .txt .dtxt {
  font-size: 20px;
  margin: 15px 0 20px 0;
}
.MainContent .content_wrap .itm .txt .ttxt {
  font-size: 40px;
  font-weight: 800;
  color: #115B95;
  margin: 15px 0 20px 0;
}
.MainContent .content_wrap .itm .txt .ctxt {
  color: #5c5c5c;
  font-weight: 300;
}
.MainContent .content_wrap .itm01 {
  border-bottom: 10px solid #115B95;
}
.MainContent .content_wrap .itm02 {
  border-bottom: 10px solid #1DA592;
}
.MainContent .content_wrap .itm03 {
  border-bottom: 10px solid #4AA947;
}

.MainMedical {
  margin-top: 380px;
  padding: 80px 0;
}
.MainMedical .MediSlide .itm {
  position: relative;
  height: 470px;
}
.MainMedical .MediSlide .itm .txt {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.MainMedical .MediSlide .itm .txt .btxt {
  font-size: 48px;
  font-weight: 500;
  padding-top: 75px;
}
.MainMedical .MediSlide .itm .txt .stxt {
  font-size: 18px;
  margin: 15px 0;
}
.MainMedical .MediSlide .itm01 .btxt {
  background: url(../images/center-icon01.png) no-repeat center top;
}
.MainMedical .MediSlide .itm02 .btxt {
  background: url(../images/center-icon02.png) no-repeat center top;
}
.MainMedical .MediSlide .itm03 .btxt {
  background: url(../images/center-icon03.png) no-repeat center top;
}
.MainMedical .swiper-pagination {
  margin-bottom: 60px;
}
.MainMedical .swiper-pagination-bullet {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 100%;
}
.MainMedical .swiper-pagination-bullet-active {
  color: #fff;
  background: #115b95;
  border: none;
}

.Footer {
  background: #626262;
}
.Footer .ft {
  display: flex;
  gap: 30px;
  padding: 25px 0;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */